{% extends "base.html" %}

{% block content %}
    <form action="save-news" method="get">
        <div class="mb-3">
            <label for="title" class="form-label">Заголовок</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">Текст</label>
            <textarea class="form-control" id="text" rows="3" name="text"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a class="btn btn-primary" href="/news" role="button">Новости</a>
    </form>
{% endblock %}
