{% extends "base.html" %}

{% block content %}
<a href="/" class="btn btn-primary " role="button">На главную</a>
<form method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Изменение никнейма</legend>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control", type="text", value=form.name.data) }}<br>
        {% if msg %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{msg}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
            </div>
        {% endif %}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

    </fieldset>
</form>

{% endblock %}

